@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

body {
  font-family: "Quicksand", sans-serif;
  max-width: 90%;
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  transition: all 0.5s;
}

img {
  display: block;
}

/* Initial Screen Styles */
header {
  margin: 10rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .left {
  max-width: 40rem;
}

header .left h1 {
  font-size: 2.5rem;
}

header .left p {
  margin: 1rem 0;
  font-size: 1.25rem;
  font-weight: lighter;
}

header .left .divide {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  background-color: #769656;
  margin-top: 0.25rem;
  padding: 0.57rem 1rem;
  border-radius: 0.5rem;
}

header .right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  animation: float 6s ease-in-out infinite;
}

header .right .square {
  width: 125px;
  height: 125px;
}

header .right .square img {
  transition: all 0.2s ease-in-out;
}

header .right .square:hover img {
  transform: scale(1.05);
}

header .right .square:nth-child(1), header .right .square:nth-child(4) {
  background: #EEEED2;
}

header .right .square:nth-child(2), header .right .square:nth-child(3) {
  background: #769656;
}

header .right .square img {
  margin: auto;
  width: 90%;
  height: 100%;
}

header .right .square.top-right img {
  width: 80%;
}

.join-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.btn {
  padding: 0.57rem 1rem;
  border: none;
  outline: none;
  background-color: #d8d894;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bolder;
}

#gameCodeInput {
  padding: 0.57rem 1rem;
  outline: none;
  border: 2px solid #769656;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.join-game-btn {
  padding: calc(0.57rem + 2px) 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or {
  margin: 1rem 0;
}

.err-msg {
  display: block;
  color: red;
  margin: 0.4rem 0;
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }
  .left {
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 540px) {
  .input-group {
    flex-direction: column;
  }
  #gameCodeInput {
    margin-bottom: 1.5rem;
  }
  html {
    font-size: 80%;
  }
}

@keyframes float {
	0% {
		transform: translateY(0px) rotateX(15deg) rotateY(-15deg);
	}
	50% {
		transform: translateY(-20px) rotateX(15deg) rotateY(-15deg);
	}
	100% {
		transform: translateY(0px) rotateX(15deg) rotateY(-15deg);
	}
}

/* Actual Game Styles */
.game-section {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
}

.game-board {
  position: relative;
  margin-right: 6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.time {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2.5rem;
  font-size: 1.15rem;
  color: white;
  font-weight: bolder;
  background-color: #769656;
  border-radius: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  background: url("./assets/bg.jpg") no-repeat center;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
}

.area {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area #notation {
  position: absolute;
  top: -5px;
  left: -5px;
  opacity: 0.8;
}

.fill, .piece-drag {
  width: 70px;
  height: 70px;
  cursor: grab;
}

.fill.bp {
  background: url("./assets/b-pawn.svg") no-repeat center;
}

.fill.wp {
  background: url("./assets/w-pawn.svg") no-repeat center;
}

.fill.bd {
  background: url("./assets/b-dux.svg") no-repeat center;
}

.fill.wd {
  background: url("./assets/w-dux.svg") no-repeat center;
}

.hovered {
  position: relative;
  /* background: #f4f4f4; */
  border: 2px black;
  border-style: dashed;
}

.invisible {
  display: none;
}

.area.option::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4);
}

/* Chat Styles */
.game-code {
  display: none;
  text-align: center;
}

.game-code img {
  display: inline-block;
  margin-left: 1rem;
  cursor: pointer;
  width: 20px;
  transition: all 0.5s;
}

.game-code img:hover {
  transform: scale(1.2);
}

.chat {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.opponent-state {
  text-align: center;
  padding: 0.5rem 0;
}

/* Loading animation (3 dots) */
.loading::after {
  display: inline-block;
  animation: dotty steps(1,end) 3s infinite;
  content: '';
}

@keyframes dotty {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75%  { content: '...'; }
  100% { content: ''; }
}

.chat-nav {
  display: flex;
  padding: 0.5rem;
  background: rgb(226, 226, 226);
  border-radius: 0 0 20px 20px;
}

.chat-link, .notation-link {
  position: relative;
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
}

.chat-link.active::before, .notation-link.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  height: 3px;
  transform: translateX(50%);
  background: #769656;
}

#notation-part {
  display: inline-block;
  left: 120px;
  position: absolute;
}

.output, .moves {
  position: relative;
  height: 200px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  /* Firefox scrollbar styling */
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
  scrollbar-width: thin;
  margin: 1rem 0;
}

.moves {
  display: none;
}

.chat-msg {
  margin-bottom: 0.5rem;
  max-width: 250px;
  overflow-wrap: break-word;
}

.chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-form input {
  padding: 0.57rem 1rem;
  font-size: 1rem;
  border: 1px solid rgb(226, 226, 226);
  outline: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.chat-form .submit-btn {
  font-size: 1rem;
  border-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* Game Over */
.game-over-container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}

.game-over-container.active {
  opacity: 1;
  pointer-events: all;
}

.game-over-container.active .game-over {
  opacity: 1;
  transform: translateY(0);
}

.game-over {
  background-color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.5s;
}

.exit {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  cursor: pointer;
  filter: invert(100%) sepia(3%) saturate(0%) hue-rotate(212deg) brightness(103%) contrast(105%);
}

.game-over h1 {
  font-size: 3rem;
  background-color: #769656;
  color: white;
  padding: 3rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.game-over p {
  margin: 1.5rem 0;
}

.game-over a {
  display: inline-block;
  margin-bottom: 2rem;
  padding: 0.57rem 1rem;
  background-color: #d8d894;
  text-decoration: none;
  color: black;
  border-radius: 0.5rem;
  font-weight: bolder;
}


/* Footer */
footer {
  text-align: center;
  margin-bottom: 0.5rem;
}